body{
    margin: auto;
    background-image: url("../images/dynamic-style.png");
    background-repeat: repeat;
}

.nav, #about-me {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.nav {
    background-color: #ffffff;
    float:left;
    width: 100%;
    border-bottom: 2px solid #cccccc;
    margin-bottom: 30px;
}

ul {
    width: 960px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

li {
    display: inline;
}

.name {
    background-color: #4aaaa5;
    color: white;
    font-size: 30px;
    height: 50px;
    padding: 25px 25px 10px 25px;
    float: left;
    text-align: center;
}

.buttons {
    float: right;
    padding: 25px 0 0 0;
}

.navbutton {
    color: #777777;
    text-align: center;
    padding-left: 20px;
}

a {
    color: #777777;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    padding-bottom: 5px;
    box-shadow: 0 5px 0 #4aaaa5;
    /* font-weight: bold; */
}

a:active {
    text-decoration: underline;
    font-weight: bold;
}

.navbuttonpipe {
    color: #edf1ec;
    text-align: center;
    padding-left: 20px;
}

.about {
    clear: both;
    content: "";
    display: block;
    overflow: auto;
    background-color: #ffffff;
    border: 2px #dddddd;
    border-style: solid;
    margin: auto;
    width: 910px;
    padding: 25px;
    margin-bottom: 200px;
}

#about-me {
    color: #4aaaa5;
    font-size: 28px;
    padding: 0 0 25px 0;
    border-bottom: 2px solid lightgray;
}

.profile-pic {
    float: left;
    padding-top: 18px;
    padding-right: 30px;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 200%;
    color: gray;
}

form {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.form-title {
    padding: 15px 0 15px 0;
}

input[type=text] {
    width: 100%;
    height: 25px;
    color: #777777;
}

textarea {
    width: 100%;
    height: 200px;
    border: 1px solid lightgray;
}

input[type=submit] {
    width: 115px;
    height: 40px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    font-size: medium;
    margin-top: 15px;
}

footer {
    clear: both;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    margin-top: 30px;
    text-align: center;
    padding: 45px 0 5px 0;
    color: #edf1ec;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.item {
    margin: 10px;
    position: relative;
    float:left;
}

.item-text {
    width: 300px;
    height: 25px;
    background-color: #4aaaa5;
    color: white;
    position: absolute;
    bottom: 20px;
    text-align: center;
    padding: 7px 0 0 0;
    float: left;
}

.port-img {
    height: 275px;
    width: 300px;
}

.item2 {
    margin: 10px;
    position: relative;
    float:left;
    border: 1px solid lightgray;
}